.item{
    width: 280px;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item img{
    width: 100%;
    height: auto; 
    border-radius: 8px;
    margin-bottom: 10px;
}

.item p{
    margin: 6px 0px;
    color: #374151;
    font-weight: 400;
    flex-grow: 1;
}

.item-prices{
    display: flex;
    margin-top: auto;
    justify-content: center;
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}